.footer{
	position: absolute;
	bottom: 0;
    width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: $black;

	* {
		color: $white!important;
	}

	&__title{
		font-size: 16px;

		@media only screen and (max-width : 767px) {
			text-align: center;
		}
	}
	
	&__details{
		@media only screen and (max-width : 767px) {
			text-align: center;
		}
	}
	.copyright{
		@media only screen and (max-width : 767px) {
			float: none!important;
			margin-top: 15px;
			text-align: center;
			font-size: 12px;
		}
	}
	&__aside{
		&-list{
			overflow: hidden;

			@media only screen and (max-width : 767px) {
				width: 244px;
				margin: 0 auto;
			}

			> li{
				float: left;
				padding: 0 10px;

				&:first-child{
					padding-left: 0;
				}

				&.separator{
					&:before{
						content: '|';
					}
				}
			}
		}
	}
	
	.form-control{
		color: $black!important;
		font-size: 14px;
	}

	.social-list{
		margin: 0 auto;
		width: 61px;
		overflow: hidden;
		> li {
			 > a{
			 	padding: 0 10px;
			 	font-size: 20px;
			 }

			 &:first-child{
			 	> a{
			 		padding-left: 0;
			 	}
			 }
		}
	}

	.input-group{
		.btn{
			font-size: 14px;
		}
	}
}