<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8">
			<div class="carousel-container">
			    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
			      <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
			        <img ng-src="{{slide.image}}" style="margin:auto;">
			        <div class="carousel-caption">
			          <h4>Slide {{slide.id}}</h4>
			          <p>{{slide.text}}</p>
			        </div>
			      </uib-slide>
			    </uib-carousel>
			</div>
		</div>
		<div class="col-sm-4">
			<h3 class="title--sub text-success">News &amp; Promos</h3>
			<ul class="list-unstyled newspromos-list">
				<li><a href="#"><img src="../source/assets/images/slide_1.png" alt="News 1"></a></li>
				<li><a href="#"><img src="../source/assets/images/slide_2.png" alt="News 2"></a></li>
			</ul>
			<a href="#" class="newspromos__viewall">View All</a>
		</div>
	</div>
</div>
<div class="container-fluid container-fluid--lg2">
	<h2 class="title--head text-center">What are you looking for?</h2>
	<div class="input-group input-group-lg input-group-lg--xl">
		<input type="text" class="form-control" placeholder="Search for chess events, coaching camps and memberships">
	 	<span class="input-group-btn">
	        <button class="btn btn-success" type="button">Search</button>
	    </span>
	</div>
	<div class="btn-group event-btn-group m-t-lg">
        <label class="btn" ng-model="eventsPicked" uib-btn-radio="'tournaments'">Tournaments</label>
        <label class="btn" ng-model="eventsPicked" uib-btn-radio="'camps'">Coaching Camps</label>
        <label class="btn" ng-model="eventsPicked" uib-btn-radio="'memberships'">Association Membership</label>
    </div>
	<div class="row m-t-md">
		<div class="col-sm-6">
			<div class="form-inline filter">
			  <div class="form-group">
			    <label for="country">Location</label>
			    <input type="text" class="form-control" placeholder="Type a city, state or country">
			  </div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-inline filter text-right">
			  <div class="form-group">
			    <label for="filter">Filter</label>
			    <select class="form-control" name="search_filter" id="filter" ng-model="selected.filter">
			      <option value="{{filter.id}}" ng-repeat="filter in filters track by $index">{{filter.name}}</option>
			    </select>
			  </div>
			</div>
		</div>
	</div>
	<div class="row m-t-md">
		<ul class="list-unstyled row event-list">
	        <li class="col-md-4 col-sm-6 event__item" ng-repeat="tournament in events[eventsPicked] track by $index">
		        <div class="event__image">
		           <img ng-src="{{tournament.image}}" alt="">
		        </div>
		        <div class="event__details">
		            <time>{{tournament.date}} | {{tournament.time}}</time>
		            <h3 class="event__title">{{tournament.title}}</h3>
		            <div class="event__footer">
		              <p class="m-b-sm">Entry: <span ng-if="!tournament.entry">FREE</span> <span ng-if="tournament.entry">{{tournament.entry}}</span></p>
		              <div class="row">
		                <p class="event__organizer col-xs-8">{{tournament.organizer}}</p>
		                <div class="event__actions col-xs-4">
		                    <a href="#"><i class="fa fa-share-square-o"></i></a>
		                    <a href="#"><i class="fa fa-download"></i></a>
		                </div>
		              </div>
		             
		            </div>
		            
		        </div>
	        </li>
	    </ul>
	</div>
</div>