@font-face {
	font-family: "MuseoSansBold";
	src: url('../fonts/MuseoSans500.otf') format('opentype');
}
@font-face {
	font-family: "MuseoSansReg";
	src: url('../fonts/MuseoSans300.otf') format('opentype');
}
@font-face {
	font-family: "MuseoSansLight";
	src: url('../fonts/MuseoSans100.otf') format('opentype');
}


 *{
 	font-family: "MuseoSansLight", "Arial";
 	color: $grey;
 }